body{
    background-image: url(https://images3.alphacoders.com/723/72397.jpg);
    color: red;
}
h2{
    font-family: 'BioRhyme', serif;
}
h1{
    font-family: 'Palanquin Dark', sans-serif;
}
button{
    color: black
}
a {
    color: white;
}
