body{
    background-image: url(https://images3.alphacoders.com/723/72397.jpg);
    color: white;
}
h2{
    font-family: 'Press Start 2P', cursive;
}
h1{
    font-family: 'Palanquin Dark', sans-serif;
}
