<div class= "container">
  <header class= "jumbotron text-center">
<h1 id="header">Hadithi Question and Answer Board </h1>
  </header>

    {{outlet}}
  <hr>
  <footer>
    {{#link-to 'contact'}}For Contact Info{{/link-to}}
  </footer>
</div>
