<h1>Hadithi Question and Answer Board</h1>
{{#each model.questions as |question|}}
     {{question-tile update="update" question=question destroyQuestion="destroyQuestion"}}
{{/each}}
{{new-question saveQuestion="saveQuestion"}}

<hr>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
