<h1>Click a Question to View it </h1>
 {{new-question saveQuestion="saveQuestion"}}
<ol>
  {{#each model.questions as |question|}}
    {{question-popularity question}} {{question-tile question=question}}
  {{/each}}

</ol>
{{#link-to 'about'}}About{{/link-to}}
{{#link-to 'contact'}}Click here to contact us.{{/link-to}}
