<h2>More information about {{question.owner}}'s {{question.query}}</h2>

{{question-detail question-tile question=model destroyQuestion="destroyQuestion"}}
{{update-tile  question=model update="update"}}
